<body>
  <h1 class="home-heading"><a href="/">The inconveniently simple Todo app</a></h1>
  <a href="/todos" class="header-public-all">See public Todos</a> |
  <a href="/" class="header-create">Create a Todo</a> |
  <a href="/docs" class="header-docs">Read the API docs</a>
</body>
<link rel="stylesheet" type="text/css" href="/static/styles/fonts.css">
<link rel="stylesheet" type="text/css" href="/static/styles/styles.css">