<body>
  <h1 class="home-heading"><a href="/">The unconveniently simple Todo app</a></h1>
  <a href="/todos" class="header-public-all">See all public Todos</a> | 
  <a href="/" class="header-create">Create a Todo</a>
</body>
<link rel="stylesheet" type="text/css" href="/styles/fonts.css">
<link rel="stylesheet" type="text/css" href="/styles/styles.css">