<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo App</title>
</head>

<body>
  <h1><a href=".">Todo</a></h1>
  <div class="todo-landing-card">
    <form action="/api/v1/todo" method="PUT" class="todo-form" id="landing-todo">
      <div class="title-div">
        <label for="todo-title-input">Title</label><br>
        <input name="title" id="todo-title-input" placeholder="Add Title..." type="text">
      </div><br>
      <div class="desc-div">
        <label for="todo-title-input">Description</label><br>
        <input name="desc" id="todo-desc-input" placeholder="Description..." type="text">
      </div>
      <div class="tasks">
        <ul class="task-list">
          <div class="task" id="task-div-1">
            <input type="checkbox" class="task-check" id="task-checkbox-1"><input type="text" class="task-text"
              placeholder="Task" id="last-active-input"><button type="button" class="add-task-button"
              id="add-task-button">+</button>
          </div>
        </ul>
      </div>
      <button type="button" class="save-button" id="save-button">Save</button>
      <button type="button" class="delete-button" id="delete-button">Delete</button>
    </form><br><br>
    <div class="link-div">
      <input type="text" id="todo-link" class="copy-link-field" readonly placeholder="Generating unique link..."><button
        type="button" class="copy-link-btn" id="copy-todo-link-btn">Copy Link</button><br><br>
      <span id="custom-link-prefix"></span><input type="text" id="custom-link" class="copy-custom-link-field"><button
        type="button" class="copy-custom-link-btn" id="copy-custom-link-btn">Set Custom Link</button>
    </div>
  </div>
</body>
<link rel="stylesheet" type="text/css" href="./styles/fonts.css">
<link rel="stylesheet" type="text/css" href="./styles/styles.css">
<script src="./scripts/create.js"></script>

</html>